<AgentConfiguration>
    <Endpoints>
        <Endpoint id="1">
            <SiteName>SiteName1</SiteName>
            <Address>https://endpoint1.example.com:8080</Address>
            <AuthenticationMethod>OAuth2</AuthenticationMethod>
            <OAuth2>
                <ClientId>ClientIdForEndpoint1</ClientId>
                <ClientSecret>ClientSecretForEndpoint1</ClientSecret>
                <Scope>ScopeForEndpoint1</Scope>
                <TokenUrl>https://auth.endpoint1.example.com/oauth2/token</TokenUrl>
            </OAuth2>
        </Endpoint>
        <Endpoint id="2">
            <SiteName>SiteName2</SiteName>
            <Address>https://endpoint2.example.com:8443</Address>
            <AuthenticationMethod>SSO</AuthenticationMethod>
            <SSO>
                <ProviderUrl>https://sso.endpoint2.example.com</ProviderUrl>
                <AppId>AppIdForEndpoint2</AppId>
            </SSO>
        </Endpoint>
        <Endpoint id="3">
            <SiteName>SiteName3</SiteName>
            <Address>https://endpoint3.example.com:9090</Address>
            <AuthenticationMethod>ActiveDirectory</AuthenticationMethod>
            <ActiveDirectory>
                <Domain>yourdomain.com</Domain>
                <Username>yourusername</Username>
                <Password>yourpassword</Password>
            </ActiveDirectory>
        </Endpoint>
        <Endpoint id="4">
            <SiteName>SiteName4</SiteName>
            <Address>https://endpoint4.example.com:8020</Address>
            <AuthenticationMethod>Token</AuthenticationMethod>
            <Token>YourTokenForEndpoint4</Token>
        </Endpoint>
        <Endpoint id="5">
            <SiteName>SiteName5</SiteName>
            <Address>https://endpoint5.example.com:443</Address>
            <AuthenticationMethod>APIKey</AuthenticationMethod>
            <APIKey>ApiKeyForEndpoint5</APIKey>
        </Endpoint>
    </Endpoints>
</AgentConfiguration>
